.button-link {
  display: block;
  text-align: center;
  background-color: @color-brand;
  color: @color-main;
  margin: 0 auto;
  padding: 11px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: fade(@color-main, 30%);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    padding: 14px 26px;
  }
}

.button-link--small {
  font-size: 14px;
  line-height: 1.28;
  width: @mobile-ident;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    width: auto;
    padding: 17px 28px;
  }
}

.button-link--more {
  background-color: @color-background;
  color: @color-text;
}
