.contacts {
  background-color: @color-background;
}

.contacts__container {
  width: @mobile-width;
  margin: 0 auto;
}

.contacts__logo-text {
  padding: 39px 0 32px 0;
  text-align: center;
}

.contacts__social {
  padding: 21px 0;
  border-top: 1px solid #d9d9d9;
}

.contacts__list-social {
  .reset-list();
  display: flex;
  justify-content: center;
}

.contacts__academy-logo {
  border-top: 1px solid #d9d9d9;
  padding-top: 28px;
  padding-bottom: 32px;
}

.contacts__link-copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.contacts__copyright-company-name {
  color: @color-text;
}
