.contacts-data {
  display: flex;
  align-items: center;
  position: relative;
}

.contacts-data:not(:last-child) {
  margin-bottom: 13px;
}

.contacts-data__text,
.contacts-data__input {
  font-family: @font-main;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text;
}

.contacts-data__input {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
}

.contacts-data__text {
  flex-shrink: 0;
  margin-right: 11px;
}

.contacts-data__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

@media (min-width: @tablet-width) {
  .contacts-data__text,
  .contacts-data__input {
    font-size: 20px;
    line-height: 1.5;
  }

  .contacts-data:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts-data__text {
    margin-right: 20px;
  }

  .contacts-data:nth-of-type(2) {
    .contacts-data__text {
      margin-right: 14px;
    }
  }

  .contacts-data__input {
    padding: 10px 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-data:not(:last-child) {
    margin-bottom: 0;
  }
}
