.example {
  background-color: @color-background;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  padding-top: 25px;
  margin: 0;
  margin-bottom: 40px;
}

.example__wrapper {
  width: @mobile-ident;
  margin: 0 auto;
}

.example__description {
  margin: 0;
  font-family: @font-secondary;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 19px;
}

.example__wrapper-stats {
  margin-bottom: 40px;
}

.example__wrapper-slider {
  padding-bottom: 43px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @color-main;
    border-top: solid 1px #e6e6e6;
  }

  .example__wrapper {
    width: @tablet-ident;
    margin-bottom: 250px;
  }

  .example__wrapper-stats {
    margin-bottom: 0;
  }

  .example__wrapper-slider {
    padding-bottom: 60px;
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
    padding: 0;
    padding-top: 43px;
  }

  .example__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 54px;
    padding-right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    border: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 136px, #f2f2f2 136px, #f2f2f2);
    padding-bottom: 25px;
  }

  .example__title {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 146px;
  }

  .example__container {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 134px;
  }

  .example__wrapper {
    width: 436px;
    margin: 0;
  }

  .example__description {
    padding: 0;
    margin-bottom: 69px;
  }
}
