.example {
  background-color: @color-background;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  padding: 25px 20px 0 25px;
  margin: 0;
  margin-bottom: 40px;
}

.example__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.example__description {
  margin: 0;
  font-family: @font-secondary;
  font-size: 14px;
  line-height: 1.28;
}

.example__wrapper-stats {
  margin-bottom: 20px;
}

.stats__expenses {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
}

.example__wrapper-slider {
  padding-bottom: 40px;
}
