.extra-goods {
  .reset-list();
}

.extra-goods__item {
  border-top: 1px solid #cdcdcd;
}

.extra-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 35px;
}

.extra-goods__wrapper-text {
  display: flex;
  justify-content: space-between;
}

.extra-goods__title {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 13px;
}

.extra-goods__text,
.extra-goods__price {
  font-family: @font-secondary;
  font-size: 14px;
  line-height: 1;
}

.extra-goods__link {
  margin-bottom: 19px;
  margin-top: 15px;
}
