.extra__line {
  margin-top: 25px;
  margin-bottom: 29px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 69px;
    margin-bottom: 74px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 76px;
    margin-bottom: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: @color-brand;
    z-index: -1;
  }
}

.extra__line-wrapper,
.extra__wrapper {
  width: @mobile-ident;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-ident;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.extra__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 22px 0 20px;
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    padding: 0 36px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px 0 40px;
    margin-left: -40px;
  }
}

.extra__wrapper {
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 86px;
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
  }
}

.extra__list {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.extra__bonus {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
