.form-selection__container {
  margin-bottom: 26px;
}

.form-selection__group {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.form-selection__group--line {
  border-bottom: 1px solid #d9d9d9;
}

.form-selection__group--position:nth-of-type(1) {
  margin-bottom: 23.57px;
}

.form-selection__group--position:nth-of-type(2) {
  margin-bottom: 18px;
}

.form-selection__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.08;
  padding: 0;
  margin-bottom: 35px;
}

.form-selection__legend--comment {
  margin-bottom: 37px;
}

.form-selection__legend--additionally {
  margin-bottom: 38px;
}

.form-selection__label--contact {
  margin-bottom: 23.57px;
}

.form-selection__list {
  .reset-list();
}

.form-selection__list--additionally {
  .form-selection__item:not(:last-child) {
    margin-bottom: 24.4px;
  }
}

.form-selection__item--personal {
  margin-bottom: 10px;
}

.form-selection__item--personal:last-child {
  margin-bottom: 22px;
}

.form-selection__item--program:first-child {
  margin-top: 22px;
}

.form-selection__item--program:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 12px;
}

.form-selection__item--program:last-child {
  margin-bottom: 19px;
}

.form-selection__label {
  display: flex;
  align-items: center;
}

.form-selection__input-text {
  margin-right: 13px;
  flex-shrink: 0;
}

.form-selection__input {
  width: 100%;
  padding: 13px 15px;
}

.form-selection__input-text,
.form-selection__input,
.form-selection__habits {
  font-family: @font-main;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text;
}

.form-selection__habits {
  color: @color-main-text;
  width: 100%;
  min-height: 150px;
  padding: 9px 10px 13px 15px;
}

.form-selection__submit {
  text-align: center;
  margin: 0;
  margin-top: 41px;
  margin-bottom: 29px;
}

.form-selection__button {
  padding: 10px 5px;
  margin-bottom: 10px;
  width: @mobile-ident;
}

.form-selection__required-text {
  font-family: @font-secondary;
  font-size: 14px;
  line-height: 1.14;
}

@media (min-width: @tablet-width) {
  .main-page__questionnaire {
    padding-left: 70px;
    padding-right: 67px;
  }

  .form-selection__container {
    margin-bottom: 75px;
  }

  .form-selection__group {
    padding: 0;
    border: none;
  }

  .form-selection__group--line:nth-child(1) {
    margin-bottom: 46px;
  }

  .form-selection__group--line:nth-child(2) {
    border: 1px solid #e7e7e7;
    padding: 29px 20px;
  }

  .form-selection__group--position:nth-of-type(1) {
    margin-bottom: 66px;
  }

  .form-selection__group--position:nth-of-type(2) {
    margin-bottom: 58px;
  }

  .form-selection__list {
    .form-selection__item--program {
      margin: 0;
    }

    .form-selection__item--program:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  .form-selection__list--additionally {
    display: flex;
    flex-wrap: wrap;

    .form-selection__item {
      width: 50%;

      &:not(:last-child) {
        margin-bottom: 41px;
      }
    }
  }

  .form-selection__input-text,
  .form-selection__input,
  .form-selection__habits {
    font-size: 20px;
    line-height: 1.5;
  }

  .form-selection__habits {
    padding: 9px 10px 13px 19px;
  }

  .form-selection__legend {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;

    &--additionally {
      margin-bottom: 63px;
    }
  }

  .form-selection__submit {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }

  .form-selection__wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 72px;
  }

  .form-selection__button {
    width: 44.9%;
    margin: 0;
    padding: 16px 5px;
  }

  .form-selection__required-text {
    font-size: 16px;
    line-height: 1;
    margin-left: 63px;
    text-align-last: left;
    max-width: 43%;
  }
}

@media (min-width: @desktop-width) {
  .main-page__questionnaire {
    padding: 0;
    margin: 0 auto;
    width: 1220px;
  }

  .form-selection__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 69px;
  }

  .form-selection__group--line:nth-child(1) {
    margin-bottom: 0;
  }

  .form-selection__group--line:nth-child(2) {
    padding: 29px 20px;
  }

  .form-selection__group--position:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }

  .form-selection__group--position:nth-of-type(2) {
    margin-bottom: 62px;
  }

  .form-selection__legend {
    grid-column: ~"1 \ -1";
  }

  .form-selection__list--additionally {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;

    .form-selection__item {
      width: auto;
    }
  }

  .form-selection__item--personal {
    margin: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-selection__input {
    padding: 9px 15px;
  }

  .form-selection__wrapper {
    margin-top: 24px;
    margin-bottom: 82px;
  }

  .form-selection__button {
    width: 46.6%;
  }

  .form-selection__required-text {
    margin-left: 82px;
  }
}
