.intro {
  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding-left: 80px;
  }
}

.intro__title {
  @media (min-width: @desktop-width) {
    max-width: 514px;
  }
}

.intro__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 920px;
  }
}

.intro__title,
.intro__description {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  color: @color-main;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @color-main-text;
    font-size: 60px;
    text-align: left;
    margin: 0 87px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.intro__description {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-left: 89px;
    margin-right: 89px;
    margin-top: 42px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 52px;
    max-width: 50%;
  }
}

.intro__picture-wrapper {
  @media (min-width: @tablet-width) {
    order: 4;
    align-self: flex-end;
    position: relative;
    @intro-shift: -83px;
    top: @intro-shift;
    margin-bottom: @intro-shift;
  }

  @media (min-width: @desktop-width) {
    @intro-shift: -368px;
    top: @intro-shift;
    margin-bottom: -232px;
  }
}

.intro__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
  }
}

.intro__link {
  @media (min-width: @tablet-width) {
    margin: 0 90px;
    order: 3;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
