.invite-coop__wrapper {
  width: @mobile-width;
  margin: 0 auto 26px auto;
}

.invite-coop--color {
  background-color: @color-background;
}

.invite-coop__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}

.invite-coop__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.invite-coop__address {
  font-family: @font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
}
