.main-header {
  position: relative;
}

.main-header--background-logo {
  &::after {
    content: "";
    height: 302px;
    width: 100%;
    position: absolute;
    background: linear-gradient(fade(@color-brand, 85%), fade(@color-brand, 85%)),
      url("../../img/header-background-cat-color-mobile.jpg") center/cover no-repeat;
    background-color: @color-brand;
    z-index: -1;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 14px;
}

.main-header__logo-link-img {
  & img {
    vertical-align: middle;
  }
}

.main-header__logo-link-text {
  & img {
    vertical-align: middle;
  }
}

.main-header__navigation {
  position: absolute;
}
