.main-page {
  flex-grow: 1; // sticky footer
}

.main-page__intro {
  margin-top: 27px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0 117px;
    margin-top: 64px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}

.main-page__program {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.main-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 27px 20px 40px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 84px;
  }
}

.main-page__title--form {
  border-bottom: none;
  margin: 0;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom: 54px;
  }
}

.main-page__description {
  width: @mobile-ident;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 323px;
    margin: 0;
    padding: 0;
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.5;
  }
}
