.page__body {
  font-family: @font-main;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: @color-main-text;
  background-color: @color-main;
  display: flex;
  flex-direction: column;
}
