.product-card {
  padding: 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
}

.product-card__link {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 50%;
  height: 112px;
  padding: 0 36px;
  padding-bottom: 10px;

  &--large {
    padding: 0 28px;
  }
}

.product-card__wrapper-text {
  width: 50%;
}

.product-card__link-title {
  text-decoration: none;
  color: inherit;
}

.product-card__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: @color-title;
  max-width: 80px;
}

.product-card__properties-list {
  .reset-list();
}

.product-card__properties-list,
.product-card__text {
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  color: @color-text;
  font-family: @font-secondary;
}

.product-card__properties-item {
  display: flex;
  justify-content: space-between;
}

.product-card__properties-value {
  text-align: right;
}

.product-card__wrapper-link {
  margin: 0;
}

.product-card__link-button {
  width: 100%;
  align-self: start;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 10px 5px;
}

.product-card--more {
  flex-direction: column;
}

.product-card__wrapper-more {
  text-align: center;
}

.product-card__title--more {
  margin-top: 58px;
  margin-bottom: 9px;
  max-width: 100%;
}

.product-card__text {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .product-card {
    padding: 0 38px;
    margin: 0;
    border: none;
    background-color: @color-background;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 429px;
  }

  .product-card__link {
    width: auto;
  }

  .product-card__wrapper-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }

  .product-card__link-title {
    align-self: center;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 1.2;
    max-width: 150px;
    text-align: center;
    margin-bottom: 15px;
  }

  .product-card__properties-item {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__properties-description,
  .product-card__properties-value {
    font-size: 16px;
    line-height: 1;
  }

  .product-card__link-button {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 38px;
  }

  .product-card--more {
    background-color: @color-main;
    border: 1px solid @color-background;
  }

  .product-card__title--more {
    font-size: 20px;
    line-height: 1.1;
    max-width: 100%;
    width: 134px;
    margin: 0 auto;
    margin-bottom: 23px;
    margin-top: 161px;
  }

  .product-card__text {
    font-size: 16px;
    line-height: 1.12;
    padding: 0 10px;
    margin-bottom: 87px;
  }

  .product-card__wrapper-link {
    & .product-card__link-button {
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    min-height: 431px;
  }

  .product-card__title {
    line-height: 1.05;
  }

  .product-card__text {
    padding: 0;
  }
}
