.program-benefits {
  width: @mobile-width;
  margin: 0 auto;
}

.program-benefits__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 40px;
}

.program-benefits__list {
  .reset-list();
  margin-bottom: 49px;
  font-family: @font-secondary;
  font-size: 14px;
  line-height: 1.28;
}

.program-benefits__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.program-benefits__description {
  margin: 0;
}
