.program {
  width: @mobile-ident;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-ident;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}

.program__list {
  .reset-list();

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.program__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 16px;
  background-color: @color-background;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 21px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-left: 53px;
    padding-right: 311px;
    padding-bottom: 57px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @color-brand;
    top: 24px;
    left: 22px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      left: auto;
      right: 61px;
      top: 92px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      right: auto;
      left: 52px;
      top: 47px;
    }
  }

  &--slim::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    background-image: url("../../img/cat-icon-mobile.svg");
    background-repeat: no-repeat;
    top: 21px;
    left: 29px;

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 194px;
      background-size: 100%;
      left: auto;
      right: 92px;
      top: 81px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 97px;
      right: auto;
      left: 67px;
      top: 41px;
    }
  }

  &--gain::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../../img/tiger-icon-mobile.svg");
    background-repeat: no-repeat;
    top: 35px;
    left: 13px;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      background-size: 100%;
      left: auto;
      right: 28px;
      top: 135px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 56px;
      right: auto;
      left: 33px;
      top: 67px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-right: 25px;
    padding-bottom: 59px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.program__item:nth-child(2) .program__description {
  @media (min-width: @desktop-width) {
    width: 457px;
    // удалить
  }
}

.program__title {
  margin: 0;
  padding-left: 71px;
  font-size: 24px;
  line-height: 1.54;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding: 0;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 161px;
    margin-bottom: 74px;
  }
}

.program__description {
  font-family: @font-secondary;
  margin: 0;
  font-size: 14px;
  line-height: 1.28;
  padding: 31px 13px 21px 0;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    margin-bottom: 49px;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.program__link {
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 48px 4px 0;
  position: relative;
  background-color: @color-background;
  max-width: 85%;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background: url("../../img/arrow-program.svg") no-repeat;
    background-position: right center;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
    transition: 0.2s;
  }

  &:hover::after {
    right: 0;
    width: 32px;
  }

  &:active {
    color: fade(@color-main-text, 30%);

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.48;
    padding: 0;
    padding-right: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 60px;
  }
}
