@font-face {
  font-family: "Oswald";
  src: url("..//fonts/oswaldmedium.woff2"), url("..//fonts/oswaldmedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("..//fonts/oswaldregular.woff2"), url("..//fonts/oswaldregular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  height: 100%;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  min-height: 100%;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button-link {
  display: block;
  text-align: center;
  background-color: #68B738;
  color: #ffffff;
  margin: 0 auto;
  padding: 11px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .button-link {
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    padding: 14px 26px;
  }
}
.button-link--small {
  font-size: 14px;
  line-height: 1.28;
  width: calc(100% - 40px);
}
@media (min-width: 768px) {
  .button-link--small {
    font-size: 20px;
    line-height: 1;
    width: auto;
    padding: 17px 28px;
  }
}
.button-link--more {
  background-color: #F2F2F2;
  color: #444444;
}
.button {
  border: none;
  font-family: inherit;
}
.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
@media (min-width: 768px) {
  .page__main-header {
    width: calc(100% - 60px);
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 74px;
  }
}
@media (min-width: 1300px) {
  .page__main-header {
    width: 100%;
    margin: 0;
    margin-bottom: 116px;
  }
}
.main-header {
  position: relative;
}
.main-header--background-logo::after {
  content: "";
  height: 302px;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/header-background-cat-color-mobile.jpg") center / cover no-repeat;
  background-color: #68B738;
  z-index: -1;
}
@media (min-width: 768px) {
  .main-header--background-logo::after {
    content: none;
  }
}
@media (min-width: 1300px) {
  .main-header--background-logo::after {
    content: "";
    height: 694px;
    width: 50%;
    position: absolute;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/header-background-cat-color-desktop.jpg") center / cover no-repeat;
    background-color: #68B738;
    top: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .main-header__container {
    width: 1220px;
    margin: 0 auto;
    margin-top: 60px;
  }
}
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    justify-content: start;
    width: 174px;
    padding: 0;
  }
}
.main-header__logo-link-img img {
  vertical-align: middle;
}
.main-header__logo-link-text {
  margin-left: -9px;
}
.main-header__logo-link-text img {
  vertical-align: middle;
}
@media (min-width: 768px) {
  .main-header__logo-link-text {
    margin-left: 12px;
  }
}
.main-header__navigation--js-position {
  position: absolute;
}
.navigation {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  background-color: #ffffff;
}
.navigation--hidden {
  display: none;
}
.navigation--open {
  display: block;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__item {
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
.navigation__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 22px 0 23px 0;
}
.navigation__link--curent {
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
    background-color: transparent;
    width: auto;
  }
  .navigation__list {
    display: flex;
    align-items: center;
    margin-right: -15px;
  }
  .navigation__item {
    border: none;
  }
  .navigation__item:not(:last-child) {
    margin-right: 5px;
  }
  .navigation__item:nth-child(2) {
    margin-right: 8px;
  }
  .navigation__link {
    margin: 0;
    padding: 10px 15px;
  }
  .navigation__link--curent {
    position: relative;
  }
  .navigation__link--curent::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 30px);
    background-color: #68B738;
    bottom: 0;
    left: 15px;
  }
}
@media (min-width: 1300px) {
  .navigation {
    font-size: 20px;
    line-height: 1.48;
  }
  .navigation__item:not(:last-child) {
    margin-right: 6px;
  }
  .navigation__item:nth-child(2) {
    margin-right: 5px;
  }
  .navigation__link {
    padding-bottom: 7px;
    color: #111111;
  }
  .navigation__link-index {
    color: #ffffff;
  }
  .navigation__link--curent::after {
    background-color: #68B738;
  }
  .navigation__list--index .navigation__link {
    color: #ffffff;
  }
  .navigation__list--index .navigation__link--curent::after {
    background-color: #ffffff;
  }
}
.navigation-toogle {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  height: 28px;
}
@media (min-width: 768px) {
  .navigation-toogle {
    display: none;
  }
}
.navigation-toogle__wrapper {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.navigation-toogle__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: -8px;
  left: 0;
}
.navigation-toogle__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 8px;
  left: 0;
}
.program {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .program {
    width: calc(100% - 60px);
  }
}
@media (min-width: 1300px) {
  .program {
    max-width: 1220px;
  }
}
.program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1300px) {
  .program__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.program__item {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F2F2F2;
}
.program__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .program__item {
    padding-left: 53px;
    padding-right: 62px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .program__item {
    padding-right: 15px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .program__item:nth-child(2) .program__description {
    width: 457px;
  }
}
.program__title {
  margin: 0;
  padding-top: 30px;
  font-size: 24px;
  line-height: 1.54;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 36px;
    line-height: 1;
    padding-top: 77px;
  }
}
.program__description {
  font-family: "Arial", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.28;
  padding: 31px 13px 21px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program__description {
    border: none;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 25px;
    padding-bottom: 33px;
    width: 355px;
  }
}
@media (min-width: 1300px) {
  .program__description {
    padding-top: 74px;
    padding-bottom: 8px;
    width: 467px;
  }
}
.program__link {
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 15px 0 17px 0;
  padding: 4px 0 4px 0;
}
@media (min-width: 768px) {
  .program__link {
    font-size: 20px;
    line-height: 1.48;
    margin-bottom: 53px;
  }
}
@media (min-width: 1300px) {
  .program__link {
    margin-bottom: 55px;
  }
}
.main-page {
  flex-grow: 1;
}
.main-page__intro {
  margin-top: 27px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main-page__intro {
    margin: 0 117px;
    margin-top: 64px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1300px) {
  .main-page__intro {
    margin: 0 auto;
  }
}
.main-page__program {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main-page__program {
    margin-bottom: 44px;
  }
}
@media (min-width: 1300px) {
  .main-page__program {
    margin-bottom: 71px;
  }
}
.main-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 27px 20px 40px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .main-page__title {
    font-size: 60px;
    line-height: 1;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1300px) {
  .main-page__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 84px;
  }
}
.main-page__title--form {
  border-bottom: none;
  margin: 0;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .main-page__title--form {
    padding: 0;
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom: 54px;
  }
}
.main-page__description {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 39px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-page__description {
    width: 323px;
    margin: 0;
    padding: 0;
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1300px) {
  .intro {
    max-width: 1220px;
    padding-left: 80px;
  }
}
@media (min-width: 1300px) {
  .intro__title {
    max-width: 514px;
  }
}
.intro__title,
.intro__description {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .intro__title,
  .intro__description {
    color: #000000;
    font-size: 60px;
    text-align: left;
  }
}
.intro__description {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .intro__description {
    font-size: 20px;
    margin-top: 41px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1300px) {
  .intro__description {
    margin-bottom: 52px;
  }
}
.intro__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}
.program-benefits {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.program-benefits__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 40px;
}
.program-benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 49px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.28;
}
.program-benefits__item:not(:last-child) {
  margin-bottom: 24px;
}
.program-benefits__description {
  margin: 0;
}
.program-benefits__br {
  display: none;
}
@media (min-width: 768px) {
  .program-benefits {
    width: calc(100% - 60px);
  }
  .program-benefits__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }
  .program-benefits__list {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 37px;
  }
  .program-benefits__item {
    min-height: 280px;
  }
  .program-benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
  .program-benefits__description {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 60px;
  }
  .program-benefits__br {
    display: inline;
  }
}
@media (min-width: 1300px) {
  .program-benefits {
    max-width: 1220px;
  }
  .program-benefits__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 75px;
  }
  .program-benefits__description {
    padding-right: 0;
  }
}
.example {
  background-color: #F2F2F2;
}
.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  padding: 25px 20px 0 20px;
  margin: 0;
  margin-bottom: 40px;
}
.example__wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.example__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 20px;
}
.example__wrapper-stats {
  margin-bottom: 20px;
}
.example__wrapper-slider {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    border-top: solid 1px #e6e6e6;
  }
  .example__wrapper {
    width: calc(100% - 60px);
  }
  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 43px;
  }
  .example__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 54px;
    padding-right: 10px;
  }
}
@media (min-width: 1300px) {
  .example {
    border: none;
    background-color: #F2F2F2;
  }
  .example__container {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .example__title {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 146px;
  }
  .example__wrapper {
    width: 436px;
    margin: 0;
  }
  .example__description {
    padding: 0;
    margin-bottom: 69px;
  }
}
@media (min-width: 768px) {
  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .stats {
    display: block;
  }
}
.stats__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stats__list {
    justify-content: start;
  }
}
@media (min-width: 1300px) {
  .stats__list {
    margin-bottom: 55px;
  }
}
.stats__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .stats__item:not(:last-child) {
    margin-right: 42px;
  }
}
.stats__value {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  width: 124px;
  padding: 15px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .stats__value {
    width: 162px;
    font-size: 30px;
    line-height: 1.23;
    padding-bottom: 18px;
  }
}
.stats__description {
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  margin-top: -9px;
  padding: 0 5px;
  width: 87px;
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .stats__description {
    font-size: 14px;
    background-color: #ffffff;
    width: auto;
    max-width: 142px;
  }
}
@media (min-width: 1300px) {
  .stats__description {
    background-color: #F2F2F2;
  }
}
.stats__expenses {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .stats__expenses {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    width: 174px;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .stats__expenses {
    width: auto;
    text-align: left;
  }
  .stats__expenses span {
    padding-right: 63px;
  }
}
.slider {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.slider__item {
  text-align: center;
}
.slider__item img {
  vertical-align: middle;
}
.slider__range {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}
.slider__range-button {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .slider {
    width: auto;
    margin: auto;
    background-color: #F2F2F2;
  }
}
@media (min-width: 1300px) {
  .slider {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 591px;
  }
}
.main-footer__map img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .main-footer__map img {
    min-height: 400px;
  }
}
.invite-coop__wrapper {
  width: calc(100% - 40px);
  margin: 0 auto 26px auto;
}
.invite-coop--color {
  background-color: #F2F2F2;
}
.invite-coop__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}
.invite-coop__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}
.invite-coop__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  padding-left: 18px;
}
@media (min-width: 768px) {
  .invite-coop__wrapper {
    width: 82%;
    margin: 0 auto;
  }
  .invite-coop__contacts {
    padding-top: 58px;
    padding-bottom: 60px;
  }
  .invite-coop__title {
    font-size: 20px;
    line-height: 1.3;
    width: 172px;
    padding-top: 3px;
  }
  .invite-coop__address {
    font-size: 16px;
    line-height: 1.25;
    width: 160px;
    padding: 0;
    text-align: right;
  }
  .invite-coop__address span {
    display: inline-block;
    padding-top: 19px;
  }
}
@media (min-width: 1300px) {
  .invite-coop__wrapper {
    width: 565px;
    margin: 0;
  }
  .invite-coop__contacts {
    padding: 56px 80px;
  }
}
.contacts {
  background-color: #F2F2F2;
}
.contacts__container {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.contacts__logo-text {
  padding: 39px 0 32px 0;
  text-align: center;
}
.contacts__social {
  padding: 21px 0;
  border-top: 1px solid #d9d9d9;
}
.contacts__list-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.contacts__academy-logo {
  border-top: 1px solid #d9d9d9;
  padding-top: 28px;
  padding-bottom: 32px;
}
.contacts__logo-link,
.contacts__link {
  vertical-align: middle;
}
.contacts__link-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.contacts__copyright-company-name {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .contacts__container {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 55px;
  }
  .contacts__logo-text {
    padding: 0;
  }
  .contacts__social {
    border: none;
    padding: 0;
  }
  .contacts__academy-logo {
    border: none;
    padding: 0;
  }
  .contacts__copyright-company-name {
    line-height: 18.4px;
  }
}
@media (min-width: 1300px) {
  .contacts__container {
    width: 1220px;
    padding-bottom: 58px;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1300px) {
  .catalog {
    width: 1220px;
  }
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
  }
}
.product-card {
  padding: 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
}
.product-card__link {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 50%;
  height: 112px;
  padding: 0 36px;
  padding-bottom: 10px;
}
.product-card__link--large {
  padding: 0 28px;
}
.product-card__wrapper-text {
  width: 50%;
}
.product-card__link-title {
  text-decoration: none;
  color: inherit;
}
.product-card__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222;
  max-width: 80px;
}
.product-card__properties-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.product-card__properties-list,
.product-card__text {
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
  font-family: "Arial", sans-serif;
}
.product-card__properties-item {
  display: flex;
  justify-content: space-between;
}
.product-card__properties-value {
  text-align: right;
}
.product-card__wrapper-link {
  margin: 0;
}
.product-card__link-button {
  width: 100%;
  align-self: start;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 10px 5px;
}
.product-card--more {
  flex-direction: column;
}
.product-card__wrapper-more {
  text-align: center;
}
.product-card__title--more {
  margin-top: 58px;
  margin-bottom: 9px;
  max-width: 100%;
}
.product-card__text {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .product-card {
    padding: 0 38px;
    margin: 0;
    border: none;
    background-color: #F2F2F2;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 429px;
  }
  .product-card__link {
    width: auto;
  }
  .product-card__wrapper-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }
  .product-card__link-title {
    align-self: center;
  }
  .product-card__title {
    font-size: 20px;
    line-height: 1.2;
    max-width: 150px;
    text-align: center;
    margin-bottom: 15px;
  }
  .product-card__properties-item {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
  .product-card__properties-description,
  .product-card__properties-value {
    font-size: 16px;
    line-height: 1;
  }
  .product-card__link-button {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 38px;
  }
  .product-card--more {
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
  }
  .product-card__title--more {
    font-size: 20px;
    line-height: 1.1;
    max-width: 100%;
    width: 134px;
    margin: 0 auto;
    margin-bottom: 23px;
    margin-top: 161px;
  }
  .product-card__text {
    font-size: 16px;
    line-height: 1.12;
    padding: 0 10px;
    margin-bottom: 87px;
  }
  .product-card__wrapper-link .product-card__link-button {
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  .product-card {
    min-height: 431px;
  }
  .product-card__title {
    line-height: 1.05;
  }
  .product-card__text {
    padding: 0;
  }
}
.extra-goods {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.extra-goods__item {
  border-top: 1px solid #cdcdcd;
}
.extra-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.extra-goods__wrapper-text {
  display: flex;
  justify-content: space-between;
}
.extra-goods__title {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.extra-goods__text,
.extra-goods__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
}
.extra-goods__link {
  margin-bottom: 19px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .extra-goods__item {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 0 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .extra-goods__title {
    font-size: 20px;
    width: 50%;
    margin: 25px 0 26px;
  }
  .extra-goods__wrapper-text {
    width: 50%;
    justify-content: flex-end;
  }
  .extra-goods__text,
  .extra-goods__price {
    font-size: 16px;
    line-height: 1.25;
  }
  .extra-goods__text {
    margin-right: 49px;
  }
  .extra-goods__link {
    width: 100%;
    font-size: 16px;
    margin: 0;
    margin-bottom: 27px;
    padding: 12px 0;
  }
}
@media (min-width: 1300px) {
  .extra-goods__item {
    padding: 16px 0 15px;
    display: grid;
    grid-template-columns: 1fr 288px 244px;
    column-gap: 38px;
    border-left: none;
    border-right: none;
  }
  .extra-goods__title {
    width: auto;
    margin: 0;
  }
  .extra-goods__wrapper-text {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 45px;
  }
  .extra-goods__link {
    width: auto;
    margin: 0;
  }
}
.extra-bonus {
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/extra-bonus-background-cat-mobile.jpg") center / cover no-repeat;
  min-height: 289px;
}
.extra-bonus__wrapper {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  padding-left: 58px;
  padding-right: 61px;
  position: relative;
}
.extra-bonus__wrapper::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../../img/icon-gift-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 58px;
  transform: translate(-50%, 0);
}
.extra-bonus__text {
  padding-top: 186px;
  margin: 0;
}
@media (min-width: 768px) {
  .extra-bonus {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .extra-bonus__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 79px;
    padding-right: 125px;
  }
  .extra-bonus__wrapper::before {
    display: block;
    position: static;
    transform: translate(0, 0);
  }
  .extra-bonus__text {
    padding: 0;
    width: 161px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .extra-bonus {
    margin: 0;
    padding: 0;
    display: block;
  }
  .extra-bonus__wrapper {
    padding: 0;
    padding-top: 55px;
    padding-bottom: 42px;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .extra-bonus__text {
    text-align: center;
  }
}
.extra {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .extra {
    width: calc(100% - 60px);
  }
}
@media (min-width: 1300px) {
  .extra {
    width: 1220px;
  }
}
.extra__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .extra__title {
    font-size: 36px;
    margin-top: 68px;
    margin-bottom: 80px;
    margin-left: 37px;
    margin-right: 37px;
  }
}
@media (min-width: 1300px) {
  .extra__title {
    margin: 0;
    margin-top: 75px;
    margin-bottom: 81px;
  }
}
@media (min-width: 1300px) {
  .extra__wrapper {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 86px;
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
  }
}
.extra__list {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .extra__list {
    margin-bottom: 68px;
  }
}
@media (min-width: 1300px) {
  .extra__list {
    margin-bottom: 0;
  }
}
.extra__bonus {
  margin-bottom: 35px;
}
@media (min-width: 1300px) {
  .extra__bonus {
    margin-bottom: 0;
  }
}
.form-selection__container {
  margin-bottom: 26px;
}
.form-selection__group {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}
.form-selection__group--line {
  border-bottom: 1px solid #d9d9d9;
}
.form-selection__group--position:nth-of-type(1) {
  margin-bottom: 23.57px;
}
.form-selection__group--position:nth-of-type(2) {
  margin-bottom: 18px;
}
.form-selection__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.08;
  padding: 0;
  margin-bottom: 35px;
}
.form-selection__legend--comment {
  margin-bottom: 37px;
}
.form-selection__legend--additionally {
  margin-bottom: 38px;
}
.form-selection__label--contact {
  margin-bottom: 23.57px;
}
.form-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.form-selection__list--additionally .form-selection__item:not(:last-child) {
  margin-bottom: 24.4px;
}
.form-selection__item--personal {
  margin-bottom: 10px;
}
.form-selection__item--personal:last-child {
  margin-bottom: 22px;
}
.form-selection__item--program:first-child {
  margin-top: 22px;
}
.form-selection__item--program:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 12px;
}
.form-selection__item--program:last-child {
  margin-bottom: 19px;
}
.form-selection__label {
  display: flex;
  align-items: center;
}
.form-selection__input-text {
  margin-right: 13px;
  flex-shrink: 0;
}
.form-selection__input {
  width: 100%;
  padding: 13px 15px;
}
.form-selection__input-text,
.form-selection__input,
.form-selection__habits {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form-selection__habits {
  color: #000000;
  width: 100%;
  min-height: 150px;
  padding: 9px 10px 13px 15px;
}
.form-selection__submit {
  text-align: center;
  margin: 0;
  margin-top: 41px;
  margin-bottom: 29px;
}
.form-selection__button {
  padding: 10px 5px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
}
.form-selection__required-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
}
@media (min-width: 768px) {
  .main-page__questionnaire {
    padding-left: 70px;
    padding-right: 67px;
  }
  .form-selection__container {
    margin-bottom: 75px;
  }
  .form-selection__group {
    padding: 0;
    border: none;
  }
  .form-selection__group--line:nth-child(1) {
    margin-bottom: 46px;
  }
  .form-selection__group--line:nth-child(2) {
    border: 1px solid #e7e7e7;
    padding: 29px 20px;
  }
  .form-selection__group--position:nth-of-type(1) {
    margin-bottom: 66px;
  }
  .form-selection__group--position:nth-of-type(2) {
    margin-bottom: 58px;
  }
  .form-selection__list .form-selection__item--program {
    margin: 0;
  }
  .form-selection__list .form-selection__item--program:not(:last-child) {
    margin-bottom: 23px;
  }
  .form-selection__list--additionally {
    display: flex;
    flex-wrap: wrap;
  }
  .form-selection__list--additionally .form-selection__item {
    width: 50%;
  }
  .form-selection__input-text,
  .form-selection__input,
  .form-selection__habits {
    font-size: 20px;
    line-height: 1.5;
  }
  .form-selection__habits {
    padding: 9px 10px 13px 19px;
  }
  .form-selection__legend {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
  .form-selection__legend--additionally {
    margin-bottom: 63px;
  }
  .form-selection__submit {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }
  .form-selection__button {
    width: 44.9%;
    margin: 0;
    padding: 16px 5px;
  }
  .form-selection__required-text {
    font-size: 16px;
    line-height: 1;
    margin-left: 63px;
    text-align-last: left;
    max-width: 43%;
  }
}
.contacts-data {
  display: flex;
  align-items: center;
}
.contacts-data:not(:last-child) {
  margin-bottom: 10px;
}
.contacts-data__text,
.contacts-data__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.contacts-data__input {
  width: 100%;
  padding: 13px 15px;
}
.contacts-data__text {
  flex-shrink: 0;
  margin-right: 11px;
}
@media (min-width: 768px) {
  .contacts-data__text,
  .contacts-data__input {
    font-size: 20px;
    line-height: 1.5;
  }
  .contacts-data:not(:last-child) {
    margin-bottom: 20px;
  }
  .contacts-data__text {
    margin-right: 20px;
  }
  .contacts-data__input {
    padding: 9px 15px;
  }
}
.radio-control__control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .radio-control__control-label {
    font-size: 20px;
    line-height: 1.5;
  }
}
.control__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .control__label {
    font-size: 20px;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=style.css.map */
